# Ignore build artifacts and temporary files
/build/
.vscode/

# Ignore note.txt in the firmware directory
firmware/note.txt

# Ignore Python virtual environment and cache files
training/.venv/
training/__pycache__/

# Ignore everything in reports
/reports/*

# --- OpenHW Core ---
/fpga/cv32e40p/*
!/fpga/cv32e40p/rtl/
!/fpga/cv32e40p/bhv/
!/fpga/cv32e40p/README.md

# ---  Vivado Project ---
/fpga/vivado_pj/*
#  file project main
!/fpga/vivado_pj/*.xpr
!/fpga/vivado_pj/vivado_pj.srcs/
/fpga/vivado_pj/*.log
/fpga/vivado_pj/*.jou
/fpga/vivado_pj/*.str
/fpga/vivado_pj/.xil/
