# Ignore build artifacts and temporary files
/build/
.vscode/

# Ignore note.txt in the firmware directory
firmware/note.txt

# Ignore Python virtual environment and cache files
training/.venv/
training/__pycache__/

# Ignore generated reports (LaTeX build outputs, PDFs, etc.)
/reports/


# Ignore FPGA project build artifacts and temporary files
/fpga/cv32e40p/